[Unit]
Description=Mount AV devices as filesystem
After=network.target
Wants=djmount-keep-alive.timer

[Service]
Type=simple
ExecStartPre=-/sbin/modprobe fuse
ExecStart=/usr/bin/djmount -f -o allow_other /upnp
ExecStartPost=-/bin/sh -c '/usr/bin/sleep 2; /bin/ls /upnp'
ExecStop=/usr/bin/fusermount -u /upnp

[Install]
WantedBy=multi-user.target
