[Unit]
Description=Mount AV devices as filesystem
After=network.target

[Service]
Type=forking
ExecStartPre=-/sbin/modprobe fuse
ExecStart=/usr/bin/djmount -o allow_other /media/upnp
ExecStop=/usr/bin/fusermount -u /media/upnp

[Install]
WantedBy=multi-user.target
