[Unit]
Description=djmount keep-alive timer
BindsTo=djmount.service
RefuseManualStart=yes
RefuseManualStop=yes

[Timer]
OnActiveSec=1min
OnUnitActiveSec=1min
Unit=djmount-keep-alive.service

[Install]
WantedBy=timers.target
