[Unit]
Description=Mount AV devices as filesystem

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /media/upnp
ExecStart=/usr/bin/djmount -o allow_other /media/upnp
ExecStop=/usr/bin/fusermount -u /media/upnp
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
