[Unit]
Description=Mount AV devices as filesystem
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/avmount @ARGS@ -f -o allow_other /media/upnp
ExecStopPost=-/usr/bin/fusermount -u /media/upnp

[Install]
WantedBy=multi-user.target
