[Unit]
Description=Mount AV devices as filesystem
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/avmount @ARGS@ -f --port 49153 -o allow_other /media/upnp

[Install]
WantedBy=multi-user.target
